* {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background: url("https://declutter-images.s3.eu-north-1.amazonaws.com/plant.jpg") no-repeat center center fixed; ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
