.maintitle {
    margin-left: 80px;
    padding-top: 10px;
}

.form {
    margin: 90px 0 0 80px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 2px solid black;
}

.formfield {
    display: inline-block;
    width: 400px;
    padding: 10px;
}