.header {
    width: 100%;
    margin-bottom: 20px;
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background: rgb(155,230,171);
    background: radial-gradient(circle, rgba(155,230,171,1) 61%, rgba(79,158,97,1) 97%);
    border-bottom: 1px solid black;
}

.h2 {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 5px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a:first-of-type {
    padding: 100px 8px 6px 16px;
  }

  .sidenav a {
    padding: 15px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  