.maintitle {
    text-align: center;
    padding-top: 100px;
}

.infoarea {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.chart {
    width: 33%;
    height: 300px;
    margin-right: 10px;
}


