.infoarea {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
}

.content {
    padding-right: 21px !important;
    width: 200px !important;
}

.bar {
    width: 350px;
    padding-right: 21px !important;
}
