.maintable {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.removals {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
  }
  
.removals td, .removals th {
border: 1px solid #ddd;
padding: 8px;
}
  
.removals tr:nth-child(even){background-color: #f2f2f2;}

.removals tr:hover {background-color: #ddd;}

.removals th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

.button:hover {
    color: red;
}