.title {
    padding-top: 0.4rem;
}

.buttonlink {
    background: none;
    border: none;
    padding-left: 10;
    color: #069;
    cursor: pointer;
}

.form {
    background: rgb(247, 247, 247);
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.submitfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.submitfield p {
    margin: auto;
    padding: 0.3rem;
}

.text {
    display: none;
}

.formfield {
    display: inline-block;
    padding: 0.4rem;
}

@media (min-width: 40rem) {
    .form {
        margin: 90px 0 0 140px;
        min-width: 450px;
        width: 40%;
    }
    .formfield {
        width: 60%;
    }
    .submitfield {
        display: inline-block;
        padding: 0.7rem;
        width: 60%;
    }
    .text {
        display: inline;
    }
}