.main {
    background: url(https://images.pexels.com/photos/334979/pexels-photo-334979.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 1.5rem;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.label {
    color: white;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1rem;
}

.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formfield {
    display: inline-block;
    padding: 0.4rem;
}

.minifooter {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}


@media (min-width: 40rem) {
    .title {
        font-size: 2rem;
    }
    .form {
        min-width: 450px;
    }
    .formfield {
        width: 60%;
    }
    .submitfield {
        display: inline-block;
        padding: 0.7rem;
        width: 60%;
    }
    .text {
        display: inline;
    }
}