.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    display: inline-block;
    border-bottom: 2px solid green;
    font-family: sans-serif;
    font-weight: bold;
}


.formarea {
    width: 75%;
    margin-bottom: 10px;
    border-left: 2px dotted green;
    border-right: 2px dotted green;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
