.container {
    display: inline-block;
}

.title {
    display: inline-block;
    border-bottom: 2px solid black;
}

.subtitle {
    font-weight: bold;
}

.list {
    list-style: none;
}

.listitem {
    padding-bottom: 0.3rem;
    font-weight: bold;
}

.highlight {
    font-size: 1.2rem;
    border-bottom: 2px solid #FF8C00;
}